/* Add a black background color to the top navigation */
.topnav {
  background-color: #00AEEF;
  padding: 14px;
}

.logo {
  height: 28px;
}

.title {
  position: absolute;
  width: 266px;
  height: 34px;
  left: 48px;
  top: 90px;
  font-family: 'Arial, Helvetica, sans-serif';
  font: bold;
  font-style: bold;
  font-weight: 700;
  font-size: 32px;
  line-height: 29px;
  color: #000000;
}

hr.solid {
  border: 0;
  border-top: 4px solid #bbb;
  position: absolute;
  width: 1440px;
  height: 22px;
  left: 48px;
  top: 120px;

}

.atlastable{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tablecontainer{
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  height: 560px;
  border-style: solid;
  border-width: 1px;
  width: 80%;
}

.atlasheading{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.modules > div > div{
  border:1px solid black;
}

.environment > div{
  border:1px solid black;
} 